.page-header {
    background-color: #c20061;
    margin-top: 0;
    width: 100%;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post, .post-form {
    margin-bottom: 40px;
    width: 55%;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}

.content, .container{
    width: 100%;
}

.row, .col-md-8{
    padding-left: 20px;
    width: 100%;
}

.btn{
    margin-top: 10px;
}

.img_post {
    width: 50%;
}

#sobre{
    position: absolute;
    top: 30px;
    right: 10px;
    width: 40%;
    height: 230px;
    border-radius: 9px;
    background-color: #e4e2e2;
    padding: 30px;
}

#bio {
    font-size: 20px;
}

#title{
    margin-top: 30px;
    margin-bottom: 30px;
    color: #c20061;
}

#contato{
    position: absolute;
    top: 290px;
    right: 10px;
    width: 40%;
    height: 180px;
    border-radius: 9px;
    background-color: #e4e2e2;
    padding-top: 15px;
    padding-left: 30px;
}

.content-icon{
    display: flex;
    margin-top: 5px;
}

.icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}