{% extends 'meublog/base.html' %}

{% block content %}    
    <h1 id="title">Últimas publicações</h1>
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
        </div>
    {% endfor %}
    <div id="sobre">
        <h3>Quem sou eu</h3>
        <p id="bio">Meu nome é Larissa. Tenho 21 anos de idade e resido, atualmente, 
            na cidade de Santo Antônio, Rio Grande do Norte.</p>
    </div>
    <div id="contato">
        <h3>Dúvidas? Entre em contato:</h3>
        <div class="content-icon">
            <img src="media\whatsapp.png" class="icon"></img>
            <p id="bio">(00) 99400-0000</p>
        </div>
        
        <div class="content-icon">    
            <img src="media\o-email.png" class="icon"></img>
            <p id="bio">marialari@gmail.com</p>
        </div>
        
    </div>
{% endblock %}                    
          